<div class="container">
  <div class="row">
    <h2 class="page-header">About</h2>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6 profile-right mb-3">
      <div class="h5">What is PaddleRacer?</div>
      <br>
      <p>
        PaddleRacer is an event listing & registration demo application for kayak/canoe/SUP races. It 
        is designed for 2 types of users, race participants and race managers.   
      </p>
      <h6>Race participants can:</h6>
      <ul>
        <li>Browse an index of available races</li>
        <li>View info of a particular race</li>
        <li>Register for a race</li>
        <li>Confirm their registration on the race page</li>
      </ul>
      <h6>Race managers can: <br>
        <small class="text-muted">- A user account must be created</small>
      </h6>
      <ul>
        <li>Create a race</li>
        <li>Edit/Delete a race they own</li>
        <li>Edit/Delete a participant in a race they own</li>
        <li>View their account profile & races they have created</li>
      </ul>
    </div>
    <div class="col-md-6 mb-3">
      <!-- <div class="test"></div> -->
      <div class="h5">Under the hood</div>
      <br>
      <p>
        This web app is a student's attack at a MEAN stack application. A good fraction of the know-how 
        used towards the development of PaddleRacer was gleaned from various Udemy & TraversyMedia courses/tutorials.  
      </p>
      <ul>
        <li>
            <a href="https://www.udemy.com/the-web-developer-bootcamp/learn/v4/overview">The Web Developer Bootcamp</a> 
        </li>
        <li>
            <a href="https://www.udemy.com/angular-4-front-to-back/learn/v4/overview">Angular 4 Front to Back</a> 
        </li>
        <li>
            <a href="http://www.traversymedia.com/">TraversyMedia</a> 
        </li>
      </ul>
        
      <h6>Some of the implemented tools/techniques include:</h6>
      <ul>
          <li>Authentication via Passport middleware</li>
          <li>Client/Server verification with JWT</li>
          <li>RESTful routing</li>
          <li>BootStrap 4 styling</li>
          <li>Nested Moongoose schema</li>
      </ul>
      <a class="btn btn-success" href="https://github.com/nKinderman/paddleRacer"><i class="fa fa-github" aria-hidden="true"></i> View on GitHub</a>
    </div>
  </div>
</div>
