<h2 class="page-header">Login</h2>
<form (submit)="onLoginSubmit()" class="mb-4">
  <div class="form-group">
    <label>Username</label>
    <input type="text" class="form-control" [(ngModel)]="username" name="username" placeholder="Enter username">
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" [(ngModel)]="password" name="password" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-primary"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</button>
  <a class="btn btn-secondary" [routerLink]="['/']" role="button"><i class="fa fa-times" aria-hidden="true"></i> Cancel</a>
</form>
<hr>
<div class="mb-3">
  <h5 class="text-primary">Not signed up?</h5>
    <h6>Registered users can:</h6>
    <p class="text-secondary pl-2">1. Create a race <br> 2. Edit/Delete a race they own <br> 3. Edit/Delete a participant in a race they own</p>
    <a class="btn btn-primary btn-sm" [routerLink]="['/register']" role="button"><i class="fa fa-user-plus" aria-hidden="true"></i> Sign-up</a>
</div>