
<div class="row">
  <a [routerLink]="['/races/'+id]" href="#" class="btn btn-link"><i class="fa  fa-arrow-circle-o-left"></i> Back to Race</a>
</div>

<h2 class="page-header">Edit Race</h2>
<form *ngIf="race" novalidate #f="ngForm" (ngSubmit)="onEditRaceSubmit(f)" class="mb-4">
    <div class="form-group">
      <label>Race Name</label>
      <input 
        type="text" 
        class="form-control"
        [(ngModel)]="race.name" 
        name="name"  
        #raceName="ngModel"
        minlength="2"
        required
        placeholder="Race name"        
        >
      <div *ngIf="raceName.errors?.required && raceName.touched" class="alert alert-danger">
        Name is required
      </div>
      <div *ngIf="raceName.errors?.minlength && raceName.touched" class="alert alert-danger">
        Name should be greater than 2 characters
      </div>
    </div>
    <div class="form-group">
      <label>Date</label>
      <input 
      type="text" 
      class="form-control"
      [(ngModel)]="race.date" 
      name="date"  
      #raceDate="ngModel"
      required
      pattern="\d{1,2}/\d{1,2}/\d{4}"
      placeholder="MM/DD/YYYY"        
      >
      <div *ngIf="raceDate.errors?.required && raceDate.touched" class="alert alert-danger">
        Date is required
      </div>
      <div *ngIf="raceDate.errors?.pattern && raceDate.touched" class="alert alert-danger">
        Date format: MM/DD/YYYY
      </div>
    </div>
    <div class="form-group">
      <label>Location</label>
      <input 
      type="text" 
      class="form-control"
      [(ngModel)]="race.location" 
      name="location"  
      #raceLocation="ngModel"
      minlength="5"
      required
      placeholder="City, State"        
      >
      <div *ngIf="raceLocation.errors?.required && raceLocation.touched" class="alert alert-danger">
        Location is required
      </div>
      <div *ngIf="raceLocation.errors?.minlength && raceLocation.touched" class="alert alert-danger">
        Location should be greater than 5 characters
      </div>
    </div>
    <div class="form-group">
      <label>Image URL</label>
      <input 
      type="text" 
      class="form-control"
      [(ngModel)]="race.image" 
      name="image"  
      #raceimage="ngModel"
      required
      pattern="https?://.+"
      placeholder="Image URL"        
      >
      <div *ngIf="raceimage.errors?.required && raceimage.touched" class="alert alert-danger">
        Image URL is required
      </div>
      <div *ngIf="raceimage.errors?.pattern && raceimage.touched" class="alert alert-danger">
        Format: http:// or https:// (image address)
      </div>
    </div>
    <div class="form-group">
      <label>Description</label>
      <input 
      type="text" 
      class="form-control"
      [(ngModel)]="race.description" 
      name="description"  
      #raceDescription="ngModel"
      required
      placeholder="Brief description of race"        
      >
      <div *ngIf="raceDescription.errors?.required && raceDescription.touched" class="alert alert-danger">
        Location is required
      </div>
    </div>
    <div class="form-group">
      <label>Registration Fee</label>
      <input 
      type="number" 
      class="form-control"
      [(ngModel)]="race.cost" 
      name="cost"  
      #cost="ngModel"
      required
      placeholder="Price per participant"        
      >
      <div *ngIf="cost.errors?.required && cost.touched" class="alert alert-danger">
        Registration fee is required
      </div>
    </div>
    <button type="submit" class="btn btn-primary" value="Submit"><i class="fa fa-check" aria-hidden="true"></i> Submit</button>    
    <a class="btn btn-secondary" [routerLink]="['/races/' + this.id]" role="button"><i class="fa fa-times" aria-hidden="true"></i> Cancel</a>
  </form>



