
    <div id="level">
        <div class="jumbotron">
            <div class="container">
                <h1 class="title">PaddleRacer</h1>
                <p class="lead">Welcome to a paddling themed event listing/registration application built using MEAN stack technology</p>
                <hr>
                <p>
                    <a class="btn btn-primary" [routerLink]="['/races']" role="button"><i class="fa fa-search" aria-hidden="true"></i> Browse Races</a>
                    <a class="btn btn-secondary" [routerLink]="['/login']" role="button"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a>
                </p>
            </div>
        </div>  
    </div>
    
    <ul class="slideshow">
    <li class="one"></li>
    <li class="two"></li>
    <li class="three"></li>
    <li class="four"></li>
    </ul>


    
    
    
    


      

